<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed de Publicaciones</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <header>
      <h1>Bienvenido, <%= user.name %> @<%= user.username %>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/users/<%= user.id %>/profile">Ver perfil</a> |
            <a href="/users/<%= user.id %>/friends">Ver amigos</a> |
            <a href="/users/<%= user.id %>/friend-request">Ver solicitudes de amistad</a>
            <button onclick="window.location.href='/auth/logout'" class="delete-button">Cerrar sesión</button>
          </li>
        </ul>
      </nav>
    </header>
    <h1>Feed de Publicaciones</h1>

    <% if (feed && feed.length> 0) { %>
      <ul>
        <% feed.forEach(post=> { %>
          <li class="post">
            <!-- Imagen de la publicación -->
            <% if (post.url_multimedia) { %>
              <img src="<%= post.url_multimedia %>" alt="Imagen de la publicación" class="post-image">
              <% } %>

                <!-- Título de la publicación -->
                <h2>
                  <%= post.title %>
                </h2>

                <!-- Nombre del usuario y fecha -->
                <small>Publicado por <strong>
                    <%= post.user_name %> @<%= post.user_username %>
                  </strong> el <%= post.formatted_date %></small>

                <!-- Contenido de la publicación -->
                <p>
                  <%= post.description %>
                </p>

                <!-- Comentarios -->
                <div class="comments">
                  <h3>Comentarios</h3>
                  <% if (post.comments && post.comments.length> 0) { %>
                    <ul>
                      <% post.comments.forEach(comment=> { %>
                        <li class="comment">
                          <small><strong>
                              <%= comment.user_name %> @<%= comment.user_username %> 
                            </strong> comentó el <%= comment.formatted_date %>:</small>
                          <p>
                            <%= comment.content %>
                          </p>
                        </li>
                        <% }) %>
                    </ul>
                    <% } else { %>
                      <p class="no-comments">No hay comentarios en esta publicación.</p>
                      <% } %>
                </div>

          </li>
          <% }) %>
      </ul>
      <% } else { %>
        <p class="no-posts">No hay publicaciones en el feed.</p>
        <% } %>
  </div>
</body>


</html>